@using BugTrackerSU.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <h1 class="display-4">Welcome to BugTrackerSu.</h1>
                <p class="lead my-4">
                     A simple, fast and scalable bug tracking system that helps you manage bugs easily and deliver great products on time.
                </p>
            </div>
            <div class="col-12 col-md-6">
                <div class="devices pl-md-4 pt-5 pt-md-0">
                    <img src="https://www.techslang.com/wp-content/uploads/2021/08/9359-e1629798707656.jpg" alt="Example Navbar 1" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>

