@using BugTrackerSU.Common
@using BugTrackerSU.Web.ViewModels.Search
@model SearchPostFormModel


@{
    this.ViewData["Title"] = "Search for a post";
}

<nav aria-label="breadcrumb" class="main-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/Posts/All">All Posts</a></li>
        <li class="breadcrumb-item active" aria-current="page"><strong>@this.ViewData["Title"]</strong></li>
    </ol>
</nav>


<div class="container">
    <div class="row">
        <div class="offset-lg-2 col-lg-8 col-sm-12 offset-xl-3 col-xl-6">
            <form method="post">
                <div class="form-group">
                    <label asp-for="Keyword">Search for an article title using a keyword</label>
                    <input asp-for="Keyword" class="form-control" placeholder="Enter a word" />
                </div>
                <div class="text-center pt-2">
                    <input class="btn btn-outline-secondary" type="submit" value="Search" />
                </div>
            </form>
        </div>
    </div>
</div>

<br />
<div class="col-xl-10 col-md-10 col-sm-10 col-10 offset-1">
    <div class="text-center">
        <a asp-controller="Forums" asp-action="Create" class="btn btn-outline-secondary m-4">Create new category</a>
        <a asp-controller="Posts" asp-action="Create" class="btn btn-outline-secondary m-4">Create new post</a>
    </div>
    <div class="list-group">
    @foreach (var post in Model.Posts)
    {                
        <a href="/Forums/Category/@post.Title" class="list-group-item list-group-item-action ">
            <p class="mb-1">@post.Content</p>
        </a>
        <br />
    }
    </div>
</div>